<p><strong>Answer: </strong>{{answer.userAnswer}}</p>
<p><i>Answered by: </i>{{answer.respondent}} ~ <i>posted on:</i> {{answer.date}}</p>

<button class="btn btn-danger"{{action 'delete' answer}}>delete</button>
