<!-- <div class="container"> -->
  <div class="navbar-wrapper">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- <img id="logo" class="navbar-brand" class="img-responsive" src="assets/images/logo2.png" alt="logo"> -->
        </div>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav nav-pills" style="float:right">
          <li><a>{{#link-to 'index'}}home{{/link-to}}</a></li>
          <li><a>{{#link-to 'about'}}about{{/link-to}}</a></li>
          <li><a>{{#link-to 'contact'}}contact us{{/link-to}}</a></li>
          <li><a>{{#link-to 'links'}}links{{/link-to}}</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <hr>

  <div class="container">
    {{outlet}}
  </div>

  <footer>
    <nav class="navbar navbar-inverse navbar-fixed-bottom">
      <div class="footer-copyright-text clearfix">
        <span id="copyright" class="copyright-text pull-left">&copy; 2016 Fernanda Lowe. All rights reserved.</span>
      </div>
    </nav>
  </footer>
<!-- </div> -->
