<h1> Welcome to My-Quora </h1>

<h4>We hope you find all the <i>answers to your questions,</i> or help other <i>people finding theirs.</i></h4>

{{new-question question=model saveQuestionInputCp="saveQuestionIndexRoute"}}
<hr>
<h2>Trendy Questions</h2>


  {{#each model.questions as |question|}}
  {{#link-to 'question' question.id}}{{question.userQuestion}}{{/link-to}}
      {{question-update question=question updateQuestionCp="updateQuestionIndexRoute"}}
  {{/each}}
