<h1> Welcome to My-Quora </h1>

<h4>We hope you find all the answers to your questions, or help other people finding theirs.</h4>

<ul>
  {{#each model as |question|}}
    {{question-tile question=question destroyQuestionCp="destroyQuestionRouter"}}
  {{/each}}
</ul>

{{new-question saveQuestionCp="saveQuestionRoute"}}
